asgiref
attrs
autobahn
Automat
cachetools
certifi
cffi
channels
channels_redis
charset-normalizer
constantly
cryptography
daphne
Django
django-cors-headers
django-environ
django-filter
djangorestframework
google-auth
hyperlink
idna
incremental
Markdown
msgpack
pillow
pip
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
redis
requests
rsa
service-identity
setuptools
sqlparse
Twisted
txaio
typing_extensions
tzdata
urllib3
whitenoise
zope.interface
