asgiref
cachetools
certifi
charset-normalizer
Django
django-cors-headers
django-environ
django-filter
djangorestframework
google-auth
idna
Markdown
pillow
pip
psycopg2-binary
pyasn1
pyasn1_modules
requests
rsa
sqlparse
tzdata
urllib3
whitenoise
